<h4 class="text-justify">Program <strong>„UKE Egzaminy”</strong> umożliwia zapisanie się na egzamin na świadectwo operatora urządzeń radiowych w służbie amatorskiej oraz morskiej i żeglugi śródlądowej (LRC, SRC, IWC, VHF)</h4>
<h4 class="text-justify">Aby zapisać się na egzamin musisz posiadać w UKE swoje konto. Jeśli nie masz konta, utwórz je.
Po utworzeniu konta, zaloguj się i wypełnij zgłoszenie.</h4>
<h4 class="text-justify">Na Twój adres e-mail będą przekazywane informacje o statusie Twojego zgłoszenia.</h4>
