<h4><strong>Program "UKE Egzaminy"</strong> umożliwia rejestrację zgłoszenia na sesję egzaminacyjną w celu uzyskania świadectwa radioperatora w służbie radioamatorskiej lub morskiej i żeglugi śródlądowej.</h4>
<h4>Aby sprawnie przeprowadzić proces rejestracji zgłoszenia na egzamin musisz zalogować się i wypełnić stosowny formularz.</h4>
<h4>Na Twój adres e-mail (podany w trakcie rejestracji) będą przekazywane istotne informacje dotyczące statusu Twojego zgłoszenia.</h4>
