<h4>The <strong>"UKE Examinations"</strong> program allows you to sign up for an exam for a radio equipment operator's certificate in amateur and marine and inland navigation services (LRC, SRC, IWC, VHF).</h4>
<h4>You must have an account in UKE in purpose to register for the exam. If you don't have an account, create one. After creating the account, log in and fill the application form.</h4>
<h4>Information on the status of your application will be sent to your e-mail address.</h4>
