<h4><strong>The Register is updated every day.</strong><h4>
<br>
<h4>Each authorization is placed into the Register after the Office receives the confirmation that it is delivered to the radioamateur.
</h4>
