<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="center">
        <span class="fa fa-info-circle glyp-index-title" aria-hidden="true"></span>
        <span class="index-title"><%= t '.title' %></span>
      </h3>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

  <br>

  <div class="row">
    <div class="col-sm-12">

      <h2>Deklaracja dostępności serwisu "UKE Egzaminy"</h2>
      <p><span id="a11y-podmiot">Urząd Komunikacji Elektronicznej</span> zobowiązuje się zapewnić dostępność swojej strony internetowej zgodnie z ustawą z dnia 4 kwietnia 2019 r. o dostępności cyfrowej stron internetowych i aplikacji mobilnych podmiotów publicznych.</p>
      <p>Oświadczenie w sprawie dostępności ma zastosowanie do serwisu internetowego <a href="https://egzaminy.uke.gov.pl" target="_blank" id="a11y-url">UKE Egzaminy</a></p>
      <p>Data publikacji strony internetowej: <span id="a11y-data-publikacja">2020-02-01</span></p>
      <p>Data ostatniej dużej aktualizacji: <span id="a11y-data-aktualizacja">2020-07-06</span></p>
      <p>Strona internetowa jest częściowo zgodna z ustawą o dostępności cyfrowej stron internetowych i aplikacji mobilnych podmiotów publicznych z powodu niezgodności wymienionych poniżej:
      <ul>
        <li>niewidoczny lub słaby (domyślny) fokus na części elementów aktywnych podczas nawigacji za pomocą klawiatury,</li>
        <li>błędy podczas walidacji HTML,</li>
        <li>niewystarczający kontrast elementów strony.</li>
      </ul></p>
      <p>Oświadczenie sporządzono <span id="a11y-data-sporzadzenie">2020-09-19</span></p>
      <p>Deklarację sporządzono na podstawie samooceny przeprowadzonej przez podmiot publiczny.</p>
      <p>Na stronie internetowej można korzystać ze standardowych skrótów klawiaturowych.</p>
      <h3 id="a11y-contact">Informacje zwrotne i dane kontaktowe</h3>
      <p>W przypadku problemów z dostępnością strony internetowej prosimy o kontakt.</p>
      <p>Osobą odpowiedzialną jest <span id="a11y-osoba">Tomasz Hupało</span>, adres poczty elektronicznej <a href="mailto:tomasz.hupalo@uke.gov.pl"><span id="a11y-email">tomasz.hupalo@uke.gov.pl</span></a>. Kontaktować można się także dzwoniąc na numer telefonu <span id="a11y-telefon">22 534 93 07</span>.</p>
      <p>Tą samą drogą można składać wnioski o udostępnienie informacji niedostępnej oraz składać skargi na brak zapewnienia dostępności.</p>
      <p id="a11y-procedura">Każdy ma prawo do wystąpienia z żądaniem zapewnienia dostępności cyfrowej strony internetowej, aplikacji mobilnej lub jakiegoś ich elementu. Można także zażądać udostępnienia informacji w formach alternatywnych, na przykład odczytanie niedostępnego cyfrowo dokumentu, opisania zawartości filmu bez audiodeskrypcji itp. Żądanie powinno zawierać dane osoby zgłaszającej żądanie, wskazanie, o którą stronę internetową lub aplikację mobilną chodzi oraz sposób kontaktu. Jeżeli osoba żądająca zgłasza potrzebę otrzymania informacji w formie alternatywnej, powinna także określić formę tej informacji.</p>
      <p>Urząd Komunikacji Elektronicznej powinien zrealizować żądanie niezwłocznie i nie później, niż w ciągu 7 dni. Jeżeli dotrzymanie tego terminu nie jest możliwe, UKE niezwłocznie informuje o tym, kiedy realizacja żądania będzie możliwa, przy czym termin ten nie może być dłuższy niż 2 miesiące. Jeżeli zapewnienie dostępności nie jest możliwe, UKE może zaproponować alternatywny sposób dostępu do informacji.</p>
      <p>W przypadku odmowy realizacji żądania zapewnienia dostępności lub alternatywnego dostępu do informacji istnieje możliwość złożenia skargi na takie działanie.</p>
      <p>Po wyczerpaniu wszystkich możliwości skargę można przesłać także do <a href="https://www.rpo.gov.pl/content/jak-zglosic-sie-do-rzecznika-praw-obywatelskich" target="_blank">Rzecznika Praw Obywatelskich</a>.</p>
      <h3 id="a11y-architecture">Dostępność architektoniczna</h3>
      <p>Szczegółowe informacje dotyczące dostępności architektonicznej budynków UKE znajdują się w zakładce <a href="http://uke.gov.pl/dostepnosc/dostepnosc-w-budynkach-urzedu,4.html" target="_blank">Dostępność w budynkach Urzędu</a>.</p>
      <p>Więcej informacji o dostępności Urzędu Komunikacji Elektronicznej znajdą Państwo w zakładce <a href="http://www.uke.gov.pl/dostepnosc/" target="_blank">Dostępność</a></p>

    </div>
  </div> <!--/row -->

  <br>
  <br>

</div> <!--/container -->
