<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="center">
        <span class="index-title">Alert!</span>
      </h1>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->
 
  <br>

  <div class="row">
    <div class="col-sm-12">
      <h2><%= t('browser_not_supported') %></h2>
    </div> <!-- /.col-sm-12 -->
  </div> <!--/row -->
 
</div> <!--/container -->

