<fieldset class="my-fieldset">
  <legend class="my-fieldset"><%= t('.fieldset_title') %></legend>

  <div class="row">
    <div class="form-group col-sm-12">
      <p><strong><%= partial_data.class.human_attribute_name(:station_location) %></strong></p>
      <%= partial_data.try(:station_location) %>
    </div>
  </div> <!--/row -->
</fieldset>
