<blockquote class="bg-info">
  <p>
  Status "Zgłoszenie utworzone" oznacza, że Twoje zgłoszenie oczekuje na weryfikację. Dopiero po analizie merytorycznej otrzyma ono status "Zgłoszenie zaakceptowane" (lub "Zgłoszenie odrzucone"), o czym zostaniesz poinformowany wiadomością wysłaną na Twój e-mail.
  Tylko zgłoszenia o statusie <strong>"Zgłoszenie zaakceptowane"</strong> upoważniają do udziału w egzaminie.<br>
  ...Sprawdzaj status zgłoszenia i czekaj na wiadomość!
  </p>
</blockquote>