<p class="text-danger">
Status "Zgłoszenie utworzone" oznacza, że Twoje zgłoszenie oczekuje na weryfikację. Dopiero po analizie merytorycznej otrzyma ono status "Zgłoszenie zatwierdzone" (lub "Zgłoszenie odrzucone") o czym zostaniesz poinformowany wiadomością wysłaną na Twój e-mail.
Tylko zgłoszenia o statusie <strong>"Zgłoszenie zatwierdzone"</strong> upoważniają do udziału w egzamininie.</p>
<p class="text-danger">
...Czekaj na wiadomość!
</p>
