<blockquote>
	<p class="text-success">
	Status "Zgłoszenie zaakceptowane" oznacza, że Twoje zgłoszenie przeszło pozytywnie weryfikację i zostałeś zapisany na listę uczestników egzaminu.<br>
	...Przyjdź na egzamin!
	</p>
</blockquote>

