<p class="text-danger">
Status "Zgłoszenie odrzucone" oznacza, że Twoje zgłoszenie zostało zweryfikowane negatywnie. informacje o przyczynach odrzucenia znajdziesz poniżej.</p>
<p class="text-danger">
...Złóż wniosek ponownie!
</p>
