<blockquote>
	<p class="text-danger">
	Status "Zgłoszenie odrzucone" oznacza, że Twoje zgłoszenie zostało zweryfikowane negatywnie.<br>
	...Spróbuj raz jeszcze i ponownie utwórz zgłoszenie!
	</p>
</blockquote>
