<p class="text-success">
Status "Zgłoszenie zaakceptowane" oznacza, że Twoje zgłoszenie przeszło pozytywnie weryfikację i zostałeś zapisany na listę uczestników egzaminu.</p>
<p class="text-success">
...Przyjdź na egzamin!
</p>
