<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="center">
        <span class="fa fa-file-invoice glyp-index-title" aria-hidden="true"></span>
        <span class="index-title"><%= t '.title' %></span>
      </h3>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

  <br>
  
  <div class="row">
    <div class="col-sm-12">

      <% if policy(:proposal).create_self? %> 

        <%= link_to proposals_path, method: :create, class: "btn btn-primary pull-right" do %>
          <span class="fa fa-plus"></span>
          <%= t("helpers.submit.create", model: @proposals.model_name.human) %>
        <% end %>

      <% end %>

    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

  <div class="row">
    <div class="col-sm-12">

      <%= render(@proposals.order(created_at: :desc)) || proposal_no_data %>

    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

</div> <!--/container -->
