<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3 class="center">
        <span class="fa fa-graduation-cap glyp-index-title" aria-hidden="true"></span>
        <span class="index-title"><%= t '.title' %></span>
      </h3>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

  <br>
  
  <div class="row">
    <div class="col-sm-12">
      <blockquote>
        <h4>Uwaga!</h4> 
        <p>Egzamin składa się z testów obejmujących przedmioty zgodnie z regulaminem.<br> 
        Aby <strong>cały egzamin</strong> mógł być prawidłowo oceniany musisz ukończyć <strong>wszystkie
        testy z poniżej listy.</strong>. Na każdy test masz 5 minut.
        <p>Do poszczególnych testów możesz przystąpić tylko <strong>jeden raz!</strong></p>        
      </blockquote>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->


  <div class="row">
    <div class="col-sm-12">

      <%= render partial: "proposals/grade", collection: @proposal.grades %>

    </div> <!--/col-sm-12 -->
  </div> <!--/row -->


  <div class="row">
    <div class="col-sm-12">
      <div id='for_iframe_div' style='display:none;'>
        <iframe name="test-frame" src="about:blank" id="testportal_iframe_id"></iframe> 
      </div>
    </div> <!--/col-sm-12 -->
  </div> <!--/row -->

  <hr class="hr-without-top-margin">

  <div class="row">
    <div class="col-sm-12">

      <%= link_to proposals_path, class: "btn btn-default" do %>
        <span class="fa fa-list"></span>
        <%= t("helpers.links.index") %>
      <% end %>

    </div>
  </div>

</div>

<script type="text/javascript">
  
  $(document).ready(function() {
    // Listen to message from child window
    window.addEventListener('message', function (event) {
      console.log(event)
      if(event.data === 'test-end'){
        // console.log('Ja ba da ba du');
        // alert('Ja ba da ba du');
        testportal_end_test();
        toastr['info']("Jeżeli to nie był ostatni test, to przejdź do następnego");
      }
    }, false);
  });





</script>