$(document).ready(function() {

 function examFormatResult(exam, container, query, escapeMarkup) {
    if (exam.id) {
      return  markMatch(exam.data_obj.number, query.term) + ', ' + markMatch(exam.data_obj.date_exam, query.term) + ', ' + 
              markMatch(exam.data_obj.place_exam, query.term) + ', ' + markMatch(exam.data_obj.info, query.term)  +  
              '<span class="pull-right">&nbsp[' + markMatch(exam.data_obj.province_name, query.term) + ']</span>';
    } else {
      return "";
    }
  };

  function examFormatSelection(exam) {
    if (exam.id) {
      return  exam.data_obj.fullname;
    } else {
      return "";
    }
  };

  $('.exam_select').select2({
    minimumInputLength: 0,
    allowClear: false,
    ajax: {
      url: '/netpar/exams.json',
      dataType: 'json',
      quietMillis: 250,
      type: 'GET',
      data: function(term, page) {
        return {
          category: $('#proposal_exam_id').data('category'),
          division_id: $("#proposal_division_id").select2("val"),
          q: term,
          page_limit: 10,
          page: page
        };
      },
      results: function(data, page) {
        //var more = (page * 10) < data.total_count;
        var more = (page * 10) < data.meta.total_count;
        var exams = $.map(data.exams, function(exam, i) {
          //return { id: exam.id, text: exam.fullname };
          return { data_obj: exam, id: exam.id };
        });
        return { results: exams, more: more };
      }
    },
    formatAjaxError: function(jqXHR, textStatus, errorThrown) {
      console.log(jqXHR);
      if (jqXHR.status == 401) {
        window.location.reload();
      } else {
        getErrorMessage(jqXHR, jqXHR.status);
      }
      return errorThrown + " " + jqXHR.responseText;
    },
    initSelection: function(element, callback) {
      var id=$(element).val();
      if (id!=="") {
        $.get("/netpar/exams/"+id+".json", function(data_from_json) {
          if(data_from_json)
            //callback({ id: data_from_json.id, text: data_from_json.fullname });
            callback({ data_obj: data_from_json, id: data_from_json.id });
        });
      }
    },
    formatResult: examFormatResult, // omitted for brevity, see the source of this page
    formatSelection: examFormatSelection, // omitted for brevity, see the source of this page
    dropdownCssClass: "bigdrop" // apply css that makes the dropdown taller
    //escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
  })
  .on("select2-selecting", function(e) {
    // var id = e.val;
    // if (id!=="") {
    //   $.get("/netpar/exams/"+id+".json", function(data_from_json) {
    //     if(data_from_json) {
    //       if(data_from_json.fullname !== "") {
    //         document.getElementById("proposal_exam_fullname").value = data_from_json.fullname;
    //         document.getElementById("proposal_exam_date_exam").value = data_from_json.date_exam;
    //       };
    //     }
    //   });
    // }
    if (e.val) {
      document.getElementById("proposal_exam_fullname").value = e.choice.data_obj.fullname;
      document.getElementById("proposal_exam_date_exam").value = e.choice.data_obj.date_exam;
    }
  });



});

