
// $.fn.dataTable.ext.buttons.export_json = {
//   text: 'JSON',
//   className: 'btn btn-default',
//   action: function ( e, dt, button, config ) {
//     var data = dt.buttons.exportData();
//     $.fn.dataTable.fileSave(
//       new Blob( [ JSON.stringify( data ) ] ),
//       'individuals.json'
//     );
//   }
// };

//document.addEventListener('turbolinks:load', function() {
$(document).ready(function() {

$.fn.dataTable.ext.buttons.individuals_export_csv = {
  text: '<span class="fa fa-download"></span>',
  titleAttr: 'Export',
  className: 'btn btn-default',
  // action: function ( e, dt, button, config ) {
  //   var data;
  //   $.ajax({
  //     type: "GET",  
  //     url: $('#individuals-datatable').data('export_csv_url'),
  //     dataType: "text",       
  //     success: function(response)  
  //     {
  //       var data = response;
  //       $.fn.dataTable.fileSave(
  //         new Blob( [ data ], { type: 'text/csv;charset=utf-8;' } ),
  //         'individuals.csv'
  //       );
  //     }   
  //   });
  // }  
  // alternatywnie:
  action: function ( e, dt, button, config ) {
    window.location = $('#individuals-datatable').data('export_csv_url');
  }  
};

  var oIndividualsTable = $('#individuals-datatable').DataTable({
    dom: 'lBfrtip',
    buttons: [
      'individuals_export_csv', 
      {
        extend:    'colvis',
        text:      '<span class="fa fa-columns"></span>',
        titleAttr: 'Columns show/hide',
        columns:   ':gt(0)' //exclude first col from list
      }
    ],
    responsive: true,
    processing: true,
    serverSide: true,
    deferRender: true,
    searchDelay: 500,
    ajax: { 
      url: $('#individuals-datatable').data('source'),
      type: "GET",
      data: function(d){
        //d.eager_filter_for_current_user = $('#individuals-datatable').DataTable().button(3).active();
      },
      error: function (jqXHR, exception) {
        console.log(jqXHR);
        if (jqXHR.status == 401) {
          window.location.reload();
        } else {
          getErrorMessage(jqXHR, exception);
        }
      }
    },
    pagingType: "full_numbers",
    lengthMenu: [[10, 15, 25, 50, 100], [10, 15, 25, 50, 100]],
    columns: [
      { "data": "id",
        "visible": false }, 
      { "data": "number" }, 
      { "data": "valid_to" },
      { "data": "call_sign" },
      { "data": "category" },
      { "data": "transmitter_power" },
      { "data": "station_location" }
    ],
    order: [[ 1, "asc" ]],
    language: {
      //url: $('#individuals-datatable').data('locale') "<%= Rails.application.routes.url_helpers.datatables_lang_path(locale: I18n.locale, format: :json) %>"
      url: $('#individuals-datatable').data('locale_url')
    }
  });
 

});