//document.addEventListener('turbolinks:load', function() {
$(document).ready(function() {

  function itemFormatResult(item) {
    if (isEmpty(item.id)) {
      return "";
    } else {
      if (item.data_obj.streetName) {
        return  '<div>' + item.data_obj.cityName + ',&nbsp&nbsp' + item.data_obj.streetAttribute + '&nbsp' + item.data_obj.streetName + 
                                          '<span class="pull-right"><small>[&nbsp' + item.data_obj.provinceName + '&nbsp]</small></span><br>' +
                '<span><small>&nbsp&nbsp&nbsp&nbsp&nbsp[&nbsp' + item.data_obj.cityType + '&nbsp]</small></span>' +
                                          '<span class="pull-right"><small>[&nbsp' + item.data_obj.districtName + '&nbsp]</small></span><br>' +
                '<span><small>&nbsp&nbsp&nbsp&nbsp&nbsp[&nbsp' + item.data_obj.postCode + '&nbsp]</small></span>' +
                                          '<span class="pull-right"><small>[&nbsp' + item.data_obj.communeName + '&nbsp]</small></span></div><br>';
      } else {
        return  '<div>' + item.data_obj.cityName + 
                                          '<span class="pull-right"><small>[&nbsp' + item.data_obj.provinceName + '&nbsp]</small></span><br>' +
                '<span><small>&nbsp&nbsp&nbsp&nbsp&nbsp[&nbsp' + item.data_obj.cityType + '&nbsp]</small></span>' +
                                          '<span class="pull-right"><small>[&nbsp' + item.data_obj.districtName + '&nbsp]</small></span><br>' +
                '<span><small>&nbsp&nbsp&nbsp&nbsp&nbsp[&nbsp' + item.data_obj.postCode + '&nbsp]</small></span>' +
                                          '<span class="pull-right"><small>[&nbsp' + item.data_obj.communeName + '&nbsp]</small></span></div><br>';
      } 
    }
  };

  function itemFormatSelection(item) {
    if (isEmpty(item.id)) {
      return "";
    } else {
      if (item.data_obj.streetName) {
        return  '<div>' + item.data_obj.cityName + ',&nbsp&nbsp' + item.data_obj.streetAttribute + '&nbsp' + item.data_obj.streetName + 
                                          '<span class="small pull-right">' + item.data_obj.cityType + '&nbsp[&nbsp' + item.data_obj.provinceName + 
                                          ',&nbsp' + item.data_obj.districtName + 
                                          ',&nbsp' + item.data_obj.communeName + '&nbsp]</span></div>';
      } else {
        return  '<div>' + item.data_obj.cityName +  
                                          '<span class="small pull-right">' + item.data_obj.cityType + '&nbsp[&nbsp' + item.data_obj.provinceName + 
                                          ',&nbsp' + item.data_obj.districtName + 
                                          ',&nbsp' + item.data_obj.communeName + '&nbsp]</span></div>';
      } 
    }
  };

  $('.select2teryt_items').select2({ 
    minimumInputLength: 5,
    allowClear: false,
    ajax: {
      url: "/pit_teryt/items.json",
      dataType: 'json',
      quietMillis: 250,
      type: 'GET',
      data: function(term, page) {
        return {
          q: term,
          page_limit: 10,
          page: page -1
          //Uwaga! sztuczna mrowka gdyż API PitTeryt zle obsluguje paginacje
        };
      },
      results: function(data, page) {
        var more = (page * 10) < data.meta.totalCount;
        var items = $.map(data.items, function(item, i) {
          return { data_obj: item, id: item.id, text: item.cityName };
        });
        return { results: items, more: more };
      }
    },
    formatAjaxError: function(jqXHR, textStatus, errorThrown) {
      console.log(jqXHR);
      if (jqXHR.status == 401) {
        window.location.reload();
      } else {
        getErrorMessage(jqXHR, jqXHR.status);
      }
      return errorThrown + " " + jqXHR.responseText;
    },
    initSelection: function(element, callback) {
      var id=$(element).val();
      if (id!=="") {
        $.get("/pit_teryt/items/"+id+".json", function(data_from_json) {
          if(data_from_json)
            console.log(data_from_json);
            callback({ data_obj: data_from_json, id: data_from_json.id, text: 'data_from_json.cityName' });
        });
      }
    },
    formatResult: itemFormatResult, // omitted for brevity, see the source of this page
    formatSelection: itemFormatSelection, // omitted for brevity, see the source of this page
    dropdownCssClass: "bigdrop", // apply css that makes the dropdown taller
    escapeMarkup: function (m) { return m; } // we do not want to escape markup since we are displaying html in results
  })
  .on("select2-selecting", function(e) {
    document.getElementById("proposal_c_address_postal_code").value = e.choice.data_obj.postCode;
  });


});

