$bgDefault      : white;
$bgHighlight    : lighten(#BECC25, 40%) !default;  // #ccc //<hr> separator
$colDefault     : #555;
$colHighlight   : #1B3C8F; //hover
$dropDown       : true;
.navbar-default {
  border: 0;
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {

    //height menu
    line-height: 93px;
    height: 93px;
    padding-top: 0;
    //height menu-end

        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li {
            > a {
              color: $colDefault;
              &:hover,  &:focus {
                color: $colHighlight;
                background-color: $bgHighlight; }}
            &.divider {
              background-color: $bgHighlight;}}}}}
    @if $dropDown {
      .open .dropdown-menu > .active {
        > a, > a:hover, > a:focus {
          color: $colHighlight;
          background-color: $bgHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border: none;
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav {
    > li {
      > a {
        //height menu
        line-height: 33px;
        height: 33px;
        //height menu-end
      }
    }
  }
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}


@media (max-width: 576px) {
  .navbar-brand-logo {
    display: block;
    margin-top: 0px;
    max-width: 265px;
  }
}
@media (min-width: 576px) and (max-width: 767.99px) {
  .navbar-brand-logo {
    display: block;
    margin-top: 0px;
    max-width: 310px;
  }
}
@media (min-width: 768px) and (max-width: 991.99px) {
  .navbar-brand-logo {
    display: block;
    margin-top: 16px;
    max-width: 350px;
  }
}
@media (min-width: 992px) and (max-width: 1199.99px) {
  .navbar-brand-logo {
    display: block;
    margin-top: 17px;
    max-width: 400px;
  }
}
@media (min-width: 1200px) {
  .navbar-brand-logo {
    display: block;
    margin-top: 17px;
    max-width: 440px;
  }
}
